/* main_navigation */

    #main_navigation {
        position: absolute;
        display: block;
        width: 1000px;
        height: 30px;
        margin-left: 170px;
        margin-top: 85px;
        z-index: 2;
    }

    #main_navigation a.nav {
        float: left;
        height: 30px;
        margin: 0px 15px;
    }

    #main_navigation a.nav.community {
        background: url(../../../../../../../../../20140123090907im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/navigation/community.png) no-repeat 0 0;
        width: 202px;
    }
    #main_navigation a.nav.membership {
        background: url(../../../../../../../../../20140123090908im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/navigation/membership.png) no-repeat 0 0;
        width: 214px;
    }
    #main_navigation a.nav.parents {
        background: url(../../../../../../../../../20140123090909im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/navigation/parents.png) no-repeat 0 0;
        width: 146px;
    }
    #main_navigation a.nav.help {
        background: url(../../../../../../../../../20140123090911im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/navigation/help.png) no-repeat 0 0;
        width: 80px;
    }

    #main_navigation a.nav:hover {
        background-position: 0 -30px;
        display: block;
    }



/* Resets */
	.header_wrapper { display: none !important; }
	.background.top,
	.background.bottom { background: none !important; }
	
	#main_container { padding-bottom: 0; position: static; }
	
	body {
	   /*background: url(/web/20140123120448im_/http://www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/background.png) #FFFFFF no-repeat center top !important;*/
	   background: none !important;
	}

	#monkeybox_window #monkeybox_content.videoFeature {
	    margin-top: -110px;
	}


/* Container */
	#lander-container {
	    background: url(../../../../../../../../../20140123090912im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/background.png) no-repeat;
		position: relative;
		height: 820px;
		width: 1370px;
		left: -230px;
		z-index: 2;
	}


/* lander-carousel */
    #lander-carousel {
        margin-left: 12px;
        margin-top: 169px;
        width:1345px;
        height:517px;
    }

    #lander-carousel .thslide_nav_next { margin-left: 1295px; }

    #lander-carousel .thslide_nav_previous a,
    #lander-carousel .thslide_nav_next a
    {
        width:50px;
        height:517px;
    }
    
    #lander-carousel .thslide_nav_previous { background:url(../../../../../../../../../20140123090913im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/arrow-left.png) no-repeat 0 0; }

    #lander-carousel .thslide_nav_next
    {
        background:url(../../../../../../../../../20140123090915im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/arrow-right.png) no-repeat 0 0;    
        background-position:100% 0;
    }

    #lander-carousel .thslide_list
    {
        width:1345px;
        height:517px;
    }

    #lander-carousel .thslide_list li a
    {
        width:1345px;
        height:517px;    
    }

    #lander-carousel .thslide_list li a span
    {
        width:1345px;
        height:517px;    
    }

    #slide-a { background: url("../../../../../../../../../20140123090917im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/slides/slide-a.png") no-repeat; }
    #slide-b { background: url("../../../../../../../../../20140123090918im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/slides/slide-b.png") no-repeat; }
    #slide-c { background: url("../../../../../../../../../20140123090920im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/slides/slide-c.png") no-repeat; }


/* Play button */
	#btn-play, #btn-play span { display: block; z-index: 3; }
	
	#btn-play {
		position: absolute;
		left: 942px;
		top: 40px;
		background: url(../../../../../../../../../20140123090922im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/buttons/play/background.png) no-repeat 0 0;
		width: 418px;
		height: 113px;
	}
	#btn-play:hover  { background-position: 0 -113px; }

	#btn-play .animation { background: url(../../../../../../../../../20140123090924im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/buttons/play/animation.png) no-repeat 0 0; }


/* MQ Logo */
    #mq-logo, #mq-logo span { display: block; }
    
    #mq-logo {
        position: absolute;
        left: 25px;
        top: 20px;
        background: url(../../../../../../../../../20140123090925im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/mq-logo.png) no-repeat 0 0;
        width: 255px;
        height: 209px;
    }


/* Parents Button */
    #btn-parents {
        display: block;
        position: absolute;
        left: 40px;
        top: 710px;
        background: url(../../../../../../../../../20140123090926im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/buttons/btn-parents.png) no-repeat 0 0;
        width: 401px;
        height: 143px;
    }
    #btn-parents:hover { background-position: 0 -143px; }


/* Trailer Button */
    #btn-trailer {
        display: block;
        position: absolute;
        left: 485px;
        top: 710px;
        background: url(../../../../../../../../../20140123090928im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/buttons/btn-trailer.png) no-repeat 0 0;
        width: 401px;
        height: 143px;
    }
    #btn-trailer:hover { background-position: 0 -143px; }


/* Become a Member Button */
    #btn-membership {
        display: block;
        position: absolute;
        left: 930px;
        top: 710px;
        background: url(../../../../../../../../../20140123090929im_/http_/www.monkeyquest.com/monkeyquest/static/images/all/pages/lander/home/buttons/btn-membership.png) no-repeat 0 0;
        width: 401px;
        height: 143px;
    }
    #btn-membership:hover { background-position: 0 -143px; }


/* Mini-nav */
	#home-nav,
	#home-nav li { list-style-type: none; margin: 0; padding: 0; }
	
	#home-nav {
		margin: 40px 0 40px 300px;
		height: 12px;
	}
	
	#home-nav li {
		border-right: 1px solid #000000;
		padding-right: 10px;
		margin-right: 10px;
		float: left;
	}
	#home-nav li.last { border: none; }
	
	#home-nav a {
		color: #000000;
		font-weight: bold;
		text-decoration: none;
		font-size: 12px;
	}
	#home-nav a:hover { text-decoration: underline; }


/* Footer copy */
	#home-footer { margin: 50px 0 30px -85px; }
	
	#home-footer * {
		color: #000000;
		font-size: 1em;
	}
	
	#home-footer div * { display: inline; }
	
	#home-footer p { margin-bottom: 10px; }
/*
     FILE ARCHIVED ON 12:04:48 Jan 23, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:28:09 May 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.681
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.072
  cdx.remote: 0.058
  esindex: 0.016
  LoadShardBlock: 62.02 (3)
  PetaboxLoader3.datanode: 108.377 (5)
  load_resource: 257.646 (2)
  PetaboxLoader3.resolve: 186.458 (2)
*/